[paths]
source = src

[run]
branch = true
source =
    src
    tests
parallel = true
dynamic_context = test_function


[report]
show_missing = true
precision = 2
fail_under = 93
omit =
    *__init__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # tests do not exit to evaluate the returned value
    if do_exit:

[html]
show_contexts=True
